div.jumbotron
{
	
	background-color: transparent;
	color: white;
/*	text-shadow: black 0.3em 0.3em 0.3em;*/
}

/* body{
    background-color: black;
} */

nav
{
	background-color: #fa762f !important;
	color: white;
	
}

.navbar-brand
{
	font-size: 32px;
	margin-left: 25px;
}

html, body {
      margin: 0;
      padding: 0;

    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 85%;
        margin: auto;

    }

    .slick-slide {
      margin: 0px 10px;
      height:250px;
	width:243px;
    }

    .slick-slide img {
      width: 100%;
      
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
    /*  opacity: .2;*/
    }
    
    .slick-active {
     /* opacity: .5;*/
    }

    .slick-current {
      opacity: 1;
    }

    .buttons{
    	background-color: white;
    	color:#ff6600;
    	border-width: 2px;
    	border-radius: 5;
    	border-color: orange;
    }

.btn-surprise
{
	background-color: #ff6600;
    	color:white;
    	border-width: 2px;
    	
    	border-color: orange;
    	margin-left: 5px;
}

.product
{
	height: 500px;
}

.productImage
{
	height:200px;
	width:243px;
}

footer
{
	padding: 15px;
	background-color: #fa762f;
	color:white;
}
/*
i
{
	font-size: 50px;
}*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.accordion {
    background-color: #fa762f;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 5px;
}

.active, .accordion:hover {
    background-color: #f60;
}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color:#eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #f60;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
